[Unit]
Description=calc-sum API service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=www-data
ExecStart=/opt/app/calc-sum/main

[Install]
WantedBy=multi-user.target
